{% extends "base.html" %} {% block content %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="border p-5">
      <h2 class="col-12">You need to verify email</h2>
      <form class="form-inline" action="{% url 'verify' %}" method="post">
        {% csrf_token %}
        <div class="form-group mx-sm-3 mb-2">
          <label for="code" class="sr-only">Code</label>
          <input
            type="number"
            class="form-control"
            required
            id="code"
            placeholder="Code"
            name='code'
          />
        </div>
        {% if request.session.email %}
            <input type='hidden' value={{ request.session.email }} name='email'/>
        {% endif %}
        <button type="submit" class="btn btn-primary mb-2">Verify</button>
      </form>
      {% if messages %}
        <ul class="list-group text-danger">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} list-group-item border-0"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
